body {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
header {
    background-color: gray;
    padding-top: 1px;
}
.txInicial {
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 20px;
}
.menu{
    display: flex;
    padding: 8px;
    margin-bottom: 10px;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
}
.btMenu {
    display: inline;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 100%;
}
